<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>


    <link rel="stylesheet" href="/static/css/site.css"/>
    <link rel="stylesheet" href="/static/css/weather_small.css"/>
    <title>PyPWA Weather</title>

    <link rel="manifest" href="/static/manifest.json">

    <link rel="stylesheet" href="/static/pyscript/pyscript.css"/>
    <script defer src="/static/pyscript/pyscript.js"></script>
    <py-config>
        - autoclose_loader: true
        - runtimes:
            -
                src: "/static/pyodide/pyodide.js"
                name: pyodide-0.20
                lang: python
    </py-config>
    <py-env>
        - paths:
            - /static/python/frontend/client.py
            - /static/python/frontend/weather_frontend_api.py
            - /static/python/frontend/weather_report.py
    </py-env>
</head>
<body id="the_body">
<main>
    <nav>
        <h1><strong>PyPWA Smartmirror display</strong>
        </h1>
        <ul>
            <li><a id="refresh">refresh</a></li>
        </ul>
    </nav>
    <div id="clock" class="hidden">
    </div>
    <div id="weather" class="hidden">
        <div id="image-container">
            <img id="image" src="#"/>
        </div>
        <div id="date">
        </div>
        <div id="temp">
        </div>
        <div id="rain">
        </div>
        <div id="forecast">
        </div>
        <div style="clear: both;"></div>
    </div>
    <div id="wrapper">
        <div id="weather-small-1" class="hidden">
            <div id="date-small-1">
            </div>
            <div id="image-container-small-1">
                <img id="image-small-1" src="#"/>
            </div>
            <div id="temp-small-1">
            </div>
            <div id="rain-small-1">
            </div>
            <div id="forecast-small-1">
            </div>
        </div>
        <div style="clear: both;"></div>
        <div id="weather-small-2" class="hidden">
            <div id="date-small-2">
            </div>
            <div id="image-container-small-2">
                <img id="image-small-2" src="#"/>
            </div>
            <div id="temp-small-2">
            </div>
            <div id="rain-small-2">
            </div>
            <div id="forecast-small-2">
            </div>
        </div>
        <div style="clear: both;"></div>
        <div id="weather-small-3" class="hidden">
            <div id="date-small-3">
            </div>
            <div id="image-container-small-3">
                <img id="image-small-3" src="#"/>
            </div>
            <div id="temp-small-3">
            </div>
            <div id="rain-small-3">
            </div>
            <div id="forecast-small-3">
            </div>
        </div>
        <div style="clear: both;"></div>
        <div id="weather-small-4" class="hidden">
            <div id="date-small-4">
            </div>
            <div id="image-container-small-4">
                <img id="image-small-4" src="#"/>
            </div>
            <div id="temp-small-4">
            </div>
            <div id="rain-small-4">
            </div>
            <div id="forecast-small-4">
            </div>
        </div>
        <div style="clear: both;"></div>
        <div id="weather-small-5" class="hidden">
            <div id="date-small-5">
            </div>
            <div id="image-container-small-5">
                <img id="image-small-5" src="#"/>
            </div>
            <div id="temp-small-5">
            </div>
            <div id="rain-small-5">
            </div>
            <div id="forecast-small-5">
            </div>
        </div>
        <div style="clear: both;"></div>
        <div id="weather-small-6" class="hidden">
            <div id="date-small-6">
            </div>
            <div id="image-container-small-6">
                <img id="image-small-6" src="#"/>
            </div>
            <div id="temp-small-6">
            </div>
            <div id="rain-small-6">
            </div>
            <div id="forecast-small-6">
            </div>
        </div>
        <div style="clear: both;"></div>
        <div id="weather-small-7" class="hidden">
            <div id="date-small-7">
            </div>
            <div id="image-container-small-7">
                <img id="image-small-7" src="#"/>
            </div>
            <div id="temp-small-7">
            </div>
            <div id="rain-small-7">
            </div>
            <div id="forecast-small-7">
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</main>

<footer>
    <div class="footer-content">
        A pyscript demo app originally created by <a href="https://twitter.com/mkennedy" target="_blank">@mkennedy</a>, copyright 2022 (Modified by Marcus Holmström).
    </div>
</footer>
<py-script src="/static/python/frontend/client.py"></py-script>
<script src="/static/js/pwa-scaffold.js"></script>
</body>
</html>